@use "../variables" as v;
@use "../mixins" as m;

.footer {
  position: relative;
  color: v.$color-white;
  text-align: center;

  &__content {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: v.$space-300;
  }

  &__description {
    @include m.text-preset-4(1.6rem);
    max-width: 48rem;
  }

  &__hero {
    padding: v.$space-800 v.$space-400;
    background: linear-gradient(rgba(v.$color-cyan-600, 0.8)),
      url("../../assets/mobile/image-footer.jpg");
    background-size: cover;
    background-position: center;
  }

  &__number {
    position: absolute;
    transform: translateY(50%);
    margin: 0 auto;
  }

  &__title {
    @include m.text-preset-2(3.2rem);
  }
}

@include m.tablet {
  .footer {
    &__btn {
      justify-self: center;
    }
    &__hero {
      padding: v.$space-800 v.$space-400;
      background: linear-gradient(rgba(v.$color-cyan-600, 0.8)),
        url("../../assets/tablet/image-footer.jpg");
      background-size: cover;
      background-position: top;
    }

    &__title {
      @include m.text-preset-2(3.6rem);
    }
  }
}

@include m.desktop {
  .footer {
    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr auto;
      text-align: left;
    }

    &__description {
      @include m.text-preset-4(1.8rem);
      max-width: 36rem;
    }

    &__hero {
      padding: v.$space-1400 v.$space-400;
      background: linear-gradient(rgba(v.$color-cyan-600, 0.8)),
        url("../../assets/desktop/image-footer.jpg");
    }

    &__title {
      @include m.text-preset-2(4rem);
    }
  }
}
