@use "variables" as v;

//TYPOGRAPHY

@mixin text-preset-1($font-size) {
  font-size: $font-size;
  font-weight: v.$fw-black;
  line-height: 110%;
}

@mixin text-preset-2($font-size) {
  font-size: $font-size;
  font-weight: v.$fw-black;
  line-height: 110%;
}

@mixin text-preset-3($font-size) {
  font-size: $font-size;
  font-weight: v.$fw-black;
  line-height: 110%;
  letter-spacing: v.$space-50;
}

@mixin text-preset-4($font-size) {
  font-size: $font-size;
  font-weight: v.$fw-medium;
  line-height: 110%;
}

@mixin text-preset-5($font-size) {
  font-size: $font-size;
  font-weight: v.$fw-black;
  line-height: 150%;
}

//BREAKPOINTS

@mixin tablet {
  @media (min-width: v.$bp-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$bp-desktop) {
    @content;
  }
}
